.cap {

  @media (min-width: 1728px) {
    margin-bottom: 19px;
  }

  &__container {
    @media (min-width: 1728px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    margin-bottom: 54px;

    @media (min-width: 768px) {
      margin-bottom: 72px;
    }

    @media (min-width: 1728px) {
      width: 50%;
    }
  }

  &__heading {
    display: grid;
    color: #000000;
    margin-bottom: 22px;

    @media (min-width: 768px) {
      position: relative;
    }

    @media (min-width: 1728px) {
      margin-bottom: 78px;
    }

    .cap__find {
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;

      @media (min-width: 768px) {
        font-size: 48px;
        line-height: 53px;
      }
    }

    .cap__ideal {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;

      @media (min-width: 768px) {
        font-size: 96px;
        line-height: 107px;
      }
    }

    .cap__cross {
      font-size: 62px;
      font-weight: 700;
      line-height: 69px;
    }

    .cap__find,
    .cap__ideal,
    .cap__cross {
      @media (min-width: 1728px){
        font-size: 75px;
        line-height: 84px;
      }
    }
  }

  &__main-set {
    margin-bottom: 22px;

    @media (min-width: 768px) {
      margin-bottom: 71px;
    }

    @media (min-width: 1728px) {
      margin-bottom: 78px;
    }
  }

  &__text {
    width: 292px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: rgb(#000000, 0.75);

    @media (min-width: 768px) {
      position: absolute;
      top: 252px;
      left: 356px;
      font-size: 20px;
      line-height: 30px;
      width: 387px;
    }

    @media (min-width: 1728px) {
      position: inherit;
      width: 590px;
      font-size: 28px;
      line-height: 43px;
    }
  }

  &__sentr {
    @media (min-width: 768px) {
      text-align: center;
    }

    @media (min-width: 1728px) {
      text-align: left;
    }

    .cap__purchases {
      width: 100%;
      padding: 12px 79px;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      box-shadow: 0 2px 1px 0 #00000006, 0 9px 8px 0px #0000000B, 0 16px 13px 0 #0000000C, 0 26px 22px 0 #0000000E, 0 46px 39px 0 #00000011, 0 100px 85px 0 #00000017, 0 5px 4px 0 #00000009;

      @media (min-width: 768px) {
        padding: 22px 124px;
        width: auto;
        font-size: 28px;
        line-height: 43px;
      }

      @media (min-width: 1728px) {
        padding: 22px 57px;
      }
    }
  }

  &__product {
    margin-right: -10px;
    margin-left: -10px;
    background: linear-gradient(180deg, #E4E4E4 0%, #FAFAFA 100%);
    display: grid;
    text-align: center;
    justify-content: center;

    @media (min-width: 768px) {
      margin-right: -20px;
      margin-left: -20px;
    }

    @media (min-width: 1728px) {
      width: 50%;
      position: absolute;
      left: 50%;
      top: 0px;
      height: 1013px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      z-index: 1000;
    }

    img {
      width: 296px;
      height: 179px;
      z-index: 1001;

      @media (min-width: 768px) {
        width: 504px;
        height: 305px;
      }

      @media (min-width: 1728px) {
        width: 783px;
        height: 474px;
        margin-bottom: 117px;
        margin-top: 175px;
        margin-left: 70px;
      }
    }

    .cap__product-trend {
      font-size: 24px;
      font-weight: 500;
      line-height: 21px;
      color: #000000;
      margin-bottom: 11px;

      @media (min-width: 768px) {
        font-size: 38px;
        line-height: 34px;
        margin-bottom: 15px;
      }
    }

    .cap__product-price {
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;
      color: rgb(#000000, 0.5);
      margin-bottom: 32px;

      @media (min-width: 768px) {
        font-size: 38px;
        line-height: 34px;
        margin-bottom: 40px;
      }

      @media (min-width: 1728px) {
        margin-bottom: 131px;
      }
    }
  }

  &__product--ultimate {
    &::before {
      background: url(../img/ultimate.svg) no-repeat;
      position: absolute;
      content: '';
      width: 303px;
      height: 45px;
      z-index: 1000;
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: 768px) {
        width: 749px;
        height: 112px;
        background-size: 100%;
      }

      @media (min-width: 1728px) {
        transform: rotate(270deg) translateY(-884px);
        width: 949px;
        height: 141px;
        top: 44%;
        left: 480px;
        background-size: 90%;
      }
    }
  }
}
