.card {
  border: 2px solid #dedede;
  border-radius: 25px;

  .card__smalmain,
  .card__price {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    color: #000000;
    padding-left: 19px;
    margin-top: 0;
    text-align: left;
    margin-bottom: 22px;

    @media(min-width: 768px) {
      padding-left: 30px;
    }

    @media(min-width: 1728px) {
      padding-left: 40px;
    }
  }

  .card__smalmain-formal {
    @media(min-width: 768px) {
      font-size: 64px;
      text-align: center;
      padding-left: 51px;
      line-height: 88px;
      width: 668px;
    }

    @media(min-width: 1728px) {
      text-align: left;
      padding-left: 79px;
      width: 710px;
    }
  }

  &__flex {
    margin-bottom: 23px;
    text-align: left;

    @media(min-width: 768px) {
      margin-bottom: 51px;
      display: flex;
    }

    @media(min-width: 1728px) {
      margin-bottom: 33px;
    }

    .card__price {
      @media(min-width: 768px) {
        padding-left: 51px;
        font-size: 48px;
      }

      @media(min-width: 1728px) {
        padding-left: 83px;
      }
    }

    .card__down {
      @media(min-width: 768px) {
        font-size: 24px;
        padding-left: 30px;
        line-height: 33px;
      }

      @media(min-width: 1728px) {
        padding-left: 40px;
      }
    }
  }

  &__flex--bottom {
    @media(min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__old-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 20px;
    text-decoration: line-through;

    @media(min-width: 768px) {
      padding-left: 20px;
      font-size: 24px;
    }

    @media(min-width: 1728px) {
      padding-left: 44px;
    }
  }

  &__old-price-delete {
    @media(min-width: 768px) {
      padding-left: 20px;
      line-height: 24px;
      font-size: 18px;
    }

    @media(min-width: 1728px) {
      padding-left: 28px;
    }
  }

  &__tap {
    @include clear-button;

    transform: translate(47px, -3px);

    @media(min-width: 768px) {
      transform: translateX(300px);
    }

    @media(min-width: 1728px) {
      margin-left: 475px;
      transform: translateY(-78px);
    }
  }

  .card__tap-other {
    @media(min-width: 768px) {
      transform: translateX(85px);
      width: 38px;
      height: 38px;
    }

    @media(min-width: 1728px) {
      margin-left: 210px;
      transform: translate(-15px, -30px);
      width: 58px;
      height: 58px;
    }

      img {
        width: 13px;
        height: 13px;

        @media(min-width: 1728px) {
          width: 21px;
          height: 21px;
        }
      }
  }

  &__trend {
    width: 300px;

    @media(min-width: 768px) {
      width: 309px;
    }
  }
}
