.main-nav {
  background-color: #fff;
  margin-bottom: 41px;

  @media (min-width: 1727px) {
    margin-bottom: 226px;
  }

  &__container {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 14px;

    @media (min-width: 767px) {
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 21px;
    }

    @media (min-width: 1727px) {
      padding-right: 84px;
      padding-left: 84px;
      padding-top: 77px;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &__menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    z-index: 1001;
    text-align: end;
    background-color: #EBEBEB;
    box-shadow: 0 100px 85px rgba(0, 0, 0, 0.09), 0 46px 39px rgba(0, 0, 0, 0.06), 0 26px 22px rgba(0, 0, 0, 0.05), 0 16px 13px rgba(0, 0, 0, 0.04), 0 9px 8.22383px rgba(0, 0, 0, 0.04), 0 5px 4px rgba(0, 0, 0, 0.03), 0 2px 1px rgba(0, 0, 0, 0.02);

    @media(min-width: 767px) {
      position: inherit;
      background-color: transparent;
      width: auto;
      height: auto;
      box-shadow: none;
    }

    .main-nav__closed {
      @include clear-button;

      display: block;
      position: relative;
      padding-top: 20px;
      left: 5%;
      transform: translate(-50%);
      text-align: end;
      margin-bottom: 36px;
      width: 13px;
      margin-left: 89%;

      @media(min-width: 767px) {
        display: none;
      }
    }
  }

  .menu--showed {
    display: flex;
    flex-direction: column;

    @media(min-width: 767px) {
      display: flex;
      z-index: 1001;
    }
  }

  &__navigation {
    @include clear-list;

    display: block;
    margin-right: 0;

    @media(min-width: 767px) {
      display: flex;
    }
  }

  &__social {
    display: block;
    margin-top: auto;
    padding-bottom: 20px;

    @media(min-width: 767px) {
      display: none;
    }

    p {
      display: inline-block;
      width: 154px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      text-transform: capitalize;
      color: rgba(#000000, 0.75);
      margin-bottom: 13px;
      padding-right: 10px;
    }

    .main-nav__networks {
      @include clear-list;

      display: flex;
      justify-content: end;

      .main-nav__socnet {
        padding-right: 20px;
      }

      .main-nav__socnet:last-child {
        padding-right: 11px;
      }
    }
  }

  &__contact {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    line-height: 18px;
    padding: 13px 10px 13px 45px;
    background-color: #F6F6F6;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;

    &:first-child,
    &:nth-child(2) {
      border-bottom-color: transparent;
    }

    @media(min-width: 767px) {
      font-size: 24px;
      background-color: transparent;
      border: 0;
      line-height: 24px;
      padding: 0;
    }

    a {
      padding: 6px;

      @media (min-width: 767px) {
        padding: 28px 24px;
      }
      @media (min-width: 1727px) {
        padding: 36px;
        line-height: 36px;
      }
    }
  }

  &__shop {
    @include clear-list;

    display: flex;
    position: relative;
    z-index: 1001;

    @media (min-width: 767px) {
      margin-right: 0;
      margin-left: auto;
    }

    .main-nav__search {
      @include clear-button;

      margin-right: 25px;

        @media (min-width: 767px) {
          margin-right: 44px;
        }
    }

    .main-nav__basket {
      @include clear-button;

      margin-right: 25px;

      @media (min-width: 767px) {
        margin-right: 0;
      }
    }

    .main-nav__img {
      width: 17px;
      height: 16px;

      @media (min-width: 767px) {
        width: 29px;
        height: 27px;
      }
    }

    .main-nav__pin {
      position: absolute;
      min-width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -3px;
      right: 18px;
      border-radius: 13px;
      background-color: #D9D9D9;
      color: #000000;
      font-size: 7px;
      font-weight: 400;
      line-height: 8px;

      @media (min-width: 767px) {
        right: -9px;
        min-width: 18px;
        height: 18px;
        font-size: 11px;
        line-height: 13px;
      }
    }
  }

  &__burger {
    @include clear-button;

    @media (min-width: 767px) {
      display: none;
    }
  }
}
