@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/inter/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/inter/inter-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/inter/inter-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/inter/inter-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  color: #A1A0A0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 8px 20px;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-right: 20px;
    justify-content: flex-start;
  }
}
.header__logo {
  display: block;
}
@media (min-width: 768px) {
  .header__logo {
    transform: translateY(-4px);
  }
}
.header__burger {
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 22px;
  border-top: 4px solid #F0BA4E;
  border-bottom: 4px solid #F0BA4E;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  background-color: #F0BA4E;
  width: 100%;
  transition: 0.5s;
}
.header__burger:hover {
  border-color: #A1A0A0;
}
.header__burger:hover::after {
  background-color: #A1A0A0;
}
.header__nav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}
@media (min-width: 768px) {
  .header__nav {
    position: static;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    margin-left: 80px;
    margin-right: auto;
  }
}
.header__phone {
  display: none;
}
@media (min-width: 1280px) {
  .header__phone {
    display: block;
    color: #3C3C3B;
    font-weight: 500;
    font-size: 16px;
  }
}

.main-nav__close {
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 25px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__close {
    display: none;
  }
}
.main-nav__close::before, .main-nav__close::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #3C3C3B;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}
.main-nav__close::after {
  transform: rotate(-45deg);
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    align-items: center;
  }
}
.main-nav__item {
  border-top: 1px solid #c0953f;
  border-bottom: 1px solid #f3c871;
}
.main-nav__item:first-child {
  border-top: none;
}
@media (min-width: 768px) {
  .main-nav__item {
    border: none;
  }
}
.main-nav__link {
  display: block;
  width: 100%;
  background-color: #F0BA4E;
  padding: 15px;
  text-align: center;
  color: #3C3C3B;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
@media (min-width: 768px) {
  .main-nav__link {
    background-color: transparent;
    padding: 23px 20px;
    font-size: 14px;
  }
  .main-nav__link:not([href]) {
    color: #766357;
  }
}