*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  color: #A1A0A0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
